<!--<!DOCTYPE html>-->

<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>首页</title>-->
    <!--<script src="/js/vue.min-2.5.17.js"></script>-->
    <!--<script src="/js/vue-resource-v1.5.1.js"></script>-->
<!--</head>-->

<!--<body>-->
<!--<div id="app">-->
    <!--<button @click="postTest">发送json数据</button>-->
    <!--<div>你发送的数据是：</div>-->
    <!--<div v-text="sendedData"></div>-->
<!--</div>-->

<!--<script>-->
    <!--var vm = new Vue(   {-->
            <!--el : '#app',-->
            <!--data : {sendedData : null},-->
            <!--methods : {-->
                <!--postTest :  function ()-->
                <!--{-->
                    <!--var url = '/json/test';-->
                    <!--var data = {name:'李艳兴', username:99, mobile:'日照'};-->
                    <!--var request = this.$http.post(url, data);-->
                    <!--request.then(   function (response)-->
                        <!--{-->
                            <!--this.sendedData = response.body;-->
                        <!--},-->
                        <!--function (reason)-->
                        <!--{-->
                            <!--alert('请求失败');-->
                        <!--}-->
                    <!--)-->
                <!--}-->
            <!--}-->
        <!--}-->
    <!--);-->
<!--</script>-->
<!--</body>-->
<!--</html>-->